DEBUG=True

PROJECT_NAME=

BETTERSTACK_SOURCE_TOKEN=
BETTERSTACK_SOURCE_ID=

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_GENERATION_MODEL=deepseek-r1:8b
OLLAMA_EMBEDDING_MODEL=mxbai-embed-large
EMBEDDING_DIMENSION=1024

DATABASE_URL=
